@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  background: white;
}

.item-hover {
  @apply p-3 flex-1 cursor-pointer  hover:bg-slate-500 font-semibold active:bg-slate-600 rounded-md;
}
