@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  background: white;
  padding: 0;
  margin: 0;
}

.item-hover {
  @apply flex-1 cursor-pointer   font-semibold hover:bg-slate-500 active:bg-slate-600;
}
